<%- include('partials/header', { title: title }) %>
<%- include('partials/sidebar', { user: user }) %>
<div class="dashboard"><h2>Referrer Program</h2><p>Invite friends and earn credits!</p></div>
</main>
<%- include('partials/footer') %>